/* Kolory */
:root {
  --main-bg-color: #e6f0ff;
  --main-text-color: #ffffff;
  --accent-color: #0059b3;
  --secondary-bg-color: #e6f0ff;
  --section-font-colot: #415a79;
}

/* Inne zmienne */
:root {
  --main-font: 'Arial, sans-serif';
  --padding: 1em;
  --margin: 1em;
}

